/* 全局样式 { */
    body {
        width       : 100%;
        height      : 100%;
        margin      : 0 auto;
        color       : #333;
        font-weight : 300;
        font-family : "Helvetica Neue", Helvetica, Arial, sans-serf;
    }
    h1 {
        font-size   : 3em;
        font-weight : 300;
    }
    h2 {
        font-size   : 1.5em;
        font-weight : 300;
    }
    section {
        margin-bottom: 3em;
    }
    section p {
        text-align: justify;
    }
    svg {
        width    : 100%;
        height   : 100%;
        display  : block;
        /* border   : 1px solid #ccc; */
        overflow : hidden;
        margin   : 0 auto;
    }
    pre {
        /* border: 1px solid #ccc; */
    }
    .align-center {
        text-align: center;
    }
/* } */
/* 图以外的样式 { */
    div#canvas {
        top      : 0;
        left     : 0;
        right    : 0;
        bottom   : 0;
        overflow : hidden;
    }
/* } */
/* 图定制样式 { */
    g.type-default > rect {
        fill: grey;
    }
    g.type-task > rect {
        fill: yellow;
    }
    g.type-common > rect {
        fill: skyblue;
    }
    g.type-component > rect {
        fill: seagreen;
    }
    text {
        font-weight : 300;
        font-family : "Helvetica Neue", Helvetica, Arial, sans-serf;
        font-size   : 14px;
    }
    .node rect {
        stroke   : #999;
        overflow : hidden;
    }
    .edgePath path {
        stroke       : #ddd;
        stroke-width : 3px;
        fill         : none;
    }
    .edgePath path:hover {
        stroke       : #222;
        stroke-width : 5px;
        fill         : none;
    }
/* } */
